<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>EuroTravel</h1>
            <h3>Your next trip to Europe is here</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
           
        </div>
    </div>
</div>
<div class="main">
    <div #target class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Select a destination with us</h2>
                
            </div>
        </div> 
        <br/>
        
        <div class="section" id="carousel">
            <div class="container">
                <div class="tim-title">
                    <h3>
                        Destinations</h3>
                </div>
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="../../../assets/img/soroush-karimi.jpg" alt="Random first slide">
                                    <div class="carousel-caption">
                                        <p>Spain</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../../../assets/img/federico-beccari.jpg" alt="Random second slide">
                                    <div class="carousel-caption">
                                        <p>Italy</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../../../assets/img/joshua-stannard.jpg" alt="Random third slide">
                                    <div class="carousel-caption">
                                        <p>France</p>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">   
            <div *ngFor="let item of posts  | paginate: config" class="col-md-4">
                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="./assets/img/daniel-olahs.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4>{{item.title}}</h4>
                              <p class="card-text">{{item.body}}</p>
                            </div>
                    </div>
            </div> 
          
           
        </div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>



   
</div>
